/* top */
.top-row {
    height: 270px;
}

.top-row img{
    width:9%;
}
.top-row .list-group-horizontal{
    display: block !important;
}

.top-row .single-card{
    display: inline;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
    padding: 0px;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}

.horizontal-cards .list-group-item{
    margin-left: -60px;
}

/* midle */
.midle-row .single-card{
    display: inline-block;
    margin-bottom: -100px;
}

.midle-row  .players-table{
    height: 700px;
}

.midle-row .player-card  img{
    width: 30%;
    transform: rotate(90deg);
}

.midle-row .players-table .list-group{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Button */
.modal-body button{
    height: 100px;
    width: 100px;
    background: cornflowerblue;
    font-size: 71px !important;
    color: #fff !important;
    border: 1px solid #fff;
    border-radius: 5px !important;
    margin: auto 27px !important;
}

.score span,
.score p{
    margin-top: 0;
    height: 50px;
    text-align: center;
    font-size: 35px;
}